<p>This is the {{name}} view!</p>

<a href="#/">Logout</a>
<div ng-app="myApp" ng-controller="librarianController">
    {{library}}
    <table>
        <tr></tr>
        <th>Literature</th>
        <td ng-repeat="book in library | filter : {shelf: 'Literature'}" ng-click ="bookClick(book.name, book.bookType, book.borrowedBy, book.presence)" ng-class="{checkedOut: book.presence === '0'}">
            Name: {{book.name}} Type: {{book.bookType}}
        </td>
        <tr></tr>
        <th>Science</th>
        <td ng-repeat="book in library | filter : {shelf: 'Science'}" ng-click ="bookClick(book.name, book.bookType, book.borrowedBy, book.presence)" ng-class="{checkedOut: book.presence === '0'}">
            Name: {{book.name}} Type: {{book.bookType}}
        </td>
        <tr></tr>
        <th>Sport</th>
        <td ng-repeat="book in library | filter : {shelf: 'Sport'}" ng-click ="bookClick(book.name, book.bookType, book.borrowedBy, book.presence)" ng-class="{checkedOut: book.presence === '0'}">
            Name: {{book.name}} Type: {{book.bookType}}
        </td>
        <tr></tr>
        <th>Art</th>
        <td ng-repeat="book in library | filter : {shelf: 'Art'}" ng-click ="bookClick(book.name, book.bookType, book.borrowedBy, book.presence)" ng-class="{checkedOut: book.presence === '0'}">
            Name: {{book.name}} Type: {{book.bookType}}
        </td>
        <tr></tr>
    </table>

    <form>
        Book Name: <input type="text" ng-model="bookName">
        Reference Book?<input type="checkbox" ng-model="Reference">
        Select a Shelf:
        <select ng-model="Shelf">
            <option value="">
            <option value="Literature">Literature
            <option value="Science">Science
            <option value="Sport">Sport
            <option value="Art">Art
        </select>
        <button ng-click="addRow()">Add Book</button>
    </form>
    <div>You book is named {{bookName}} and it is on shelf {{Shelf}}</div>
    <br><hr>

    {{message}}

</div>