<p>This is the {{name}} view!</p>

<h1>Table of Student Names (by looping over an array) </h1>
<div ng-app="myApp" ng-controller="librarianController">
    {{library}}

    <table>
        <th> <h2>Literature</h2></th> <th> <h2>Science</h2></th> <th> <h2>Sport</h2></th> <th> <h2>Art</h2></th>
        <!--<tr ng-repeat="data in splitData">-->
            <!--<td ng-repeat="b in data" ng-click="bookClick()">{{b.name}}</td>-->
        <!--</tr>-->
        <tr></tr>
        <td ng-repeat="book in library | filter : {shelf: 'Literature'}">
            {{book.name}}
        </td>
        <tr></tr>
        <td ng-repeat="book in library | filter : {shelf: 'Science'}">
            {{book.name}}
        </td>
        <tr></tr>
        <td ng-repeat="book in library | filter : {shelf: 'Sport'}">
            {{book.name}}
        </td>
        <tr></tr>
        <td ng-repeat="book in library | filter : {shelf: 'Art'}">
            {{book.name}}
        </td>
        <tr></tr>
    </table>

    <form>
        Book Name: <input type="text" ng-model="bookName">
        Reference Book?<input type="checkbox" ng-model="Reference">
        Select a Shelf:
        <select ng-model="Shelf">
            <option value="">
            <option value="Literature">Literature
            <option value="Science">Science
            <option value="Sport">Sport
            <option value="Art">Art
        </select>
        <button ng-click="addRow()">Add Book</button>
    </form>
    <div>You book is named {{bookName}} and it is on shelf {{Shelf}}</div>
    <br><hr>

    {{message}}

</div>