<p>This is the {{name}} view!</p>

<script>

</script>
<a href="#/">Logout</a>
<div ng-app="myApp" ng-controller="studentController">
    {{library}}
    <table>
        <tr></tr>
        <th>Literature</th>
        <td ng-click ="bookClick(book.name)" ng-repeat="book in library | filter : {shelf: 'Literature'}" ng-class="{checkedOut: book.presence === '0', available: book.presence === '1'}">
            {{book.name}}
        </td>
        <tr></tr>
        <th>Science</th>
        <td ng-click ="bookClick(book.name)" ng-repeat="book in library | filter : {shelf: 'Science'}" ng-class="{checkedOut: book.presence === '0'}">
            {{book.name}}
        </td>
        <tr></tr>
        <th>Sport</th>
        <td ng-click ="bookClick(book.name)" ng-repeat="book in library | filter : {shelf: 'Sport'}" ng-class="{checkedOut: book.presence === '0'}">
            {{book.name}}
        </td>
        <tr></tr>
        <th>Art</th>
        <td ng-click ="bookClick(book.name)" ng-repeat="book in library | filter : {shelf: 'Art'}" ng-class="{checkedOut: book.presence === '0'}">
            {{book.name}}
        </td>
        <tr></tr>
    </table>


    <br><hr>

    {{message}}

</div>